# Compilation
zappy_server
zappy_gui
zappy_ai
*.out
*.a
*.o
*.d
*.so

# Unit tests
unit_tests
*.gcda
*.gcno
*.gcov

docs/static/

# Other
zappy_ref-v3.0.0
.vscode/
private/
build/
.idea/
obj/
vgcore*
*.log
.DS_Store
tests/zappy_gui.AppImage